.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.rocky {
  height: 600px;
  width: 500px;
}

.dog {
  font-size: 25px;
  font-family: 'Yusei Magic', sans-serif;
}

ul {
  list-style-type: none;
  color: rgb(105, 3, 105);
}

.me {
  font-family: 'Yusei Magic', sans-serif;
}

.nicole {
  height: 200px;
  width: 150px;
}